//utils
@import "./utils/variables" 
//base
@import "./base/global" 
//composants
@import "./composants/logo"
@import "./composants/button"
@import "./composants/fonctionnementFig"
@import "./composants/restaurants_card"
@import "./composants/restaurants_heart"
.restaurant
    &_item
        z-index: 1
        display: flex
        background-color: white
        border-radius: 1rem
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1)
        overflow-x: hidden
        position: relative
        margin-bottom: 0.7rem
        i
            color: white
            font-size: 22px
            opacity: 0
            transform: rotate(180deg)
            transition: all 500ms ease-in
        &_details
            padding: 0.7rem
            width: 100%
        span
                position: absolute
                bottom: 0.7rem
                right: 1rem
                transform: translateX(0px)
                transition: all 500ms ease-out
        &:hover
            .pop-out
                transform: translateX(0px)
            span
                transform: translateX(-60px)
            i
                opacity: 1
                transform: rotate(0deg)      
    .pop-out
        width: 60px
        background-color: $color_2
        display: flex
        justify-content: center
        align-items: center
        transform: translateX(60px)
        transition: all 600ms ease-out
    


//layout
@import "./layout/header"
@import "./layout/hero"
@import "./layout/fonctionnement"
@import "./layout/restaurants"
@import "./layout/footer"
.restaurant
    position: relative
    padding-top: calc(2rem + 40vw )
    section
        background-color: $color_1
        border-top-left-radius: 2rem
        border-top-right-radius: 2rem
        padding: 2rem 1rem
        margin: 0 auto
        max-width: 1055px
    h1
        font-size: 1.75rem
        margin-top: 2rem
    h2
        text-transform: uppercase
        font-weight: 300
        font-size: 1rem
        margin: 2rem 0 0.3rem
    &_header
        align-items: center
        i
            font-size: 22px
    
        

@import "./layout/responsive"
//pages
.restaurant
    &_palette
        background: url("../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat 
        background-size: 100% 
        background-position: top
        z-index: -2

.white_bg
    position: absolute
    height: 100vh
    width: 100vw
    background-color: white
    top: calc(4rem + 45vw )
    z-index: -1