//utils
@import "./utils/variables" 
//base
@import "./base/global" 
//composants
@import "./composants/logo"
@import "./composants/button"
@import "./composants/fonctionnementFig"
@import "./composants/restaurants_card"
@import "./composants/restaurants_heart"
@import "./composants/menu_item"

//layout
@import "./layout/header"
@import "./layout/hero"
@import "./layout/fonctionnement"
@import "./layout/restaurants"
@import "./layout/footer"
@import "./layout/restaurant_page"

@import "./layout/responsive"
//pages
@import "./pages/page_img"
@import "./pages/back_btn"
@import "./pages/menu_anim"
.header
    &_main
        &_logo
            animation: header_anim 1500ms 
            animation-fill-mode: forwards
    figure
        opacity: 0
        animation: opacity_anim 400ms 1100ms
        animation-fill-mode: forwards

.hero
    opacity: 0
    animation: hero_anim 800ms 1000ms
    animation-fill-mode: forwards

@for $x from 1 through 4
    .restaurants_card:nth-child(#{$x})
        animation-delay: calc( (500ms * $x) + 1400ms )


@keyframes header_anim 
    0%
        transform: scale(3.5) translateY(300%)
    100%
        transform: scale(1) translateY(1)

@keyframes opacity_anim 
    0%
        opacity: 0
    50%
        opacity: 0.3
    100%
        opacity: 1
@keyframes hero_anim
    0%
        opacity: 0
        transform: translateX(100%)
    50%
        opacity: 0.3
    100%
        opacity: 1
        transform: translateX(0)


